.profile {
  margin: 20px 0 0 20px;
  width: 250px;
  width: 250px;
  border: 2px solid #bfcddebf;
  border-radius: 3%;
  box-shadow: 0px 1px 3px 0px hsla(213, 32%, 81%, 0.749);
}

.description {
  text-align: center;
}

.avatar {
  border-radius: 50%;
  margin: 30px 0;
}

.name {
  font-size: 18px;
  font-weight: 700;
  color: #122236;
}

.tag,
.location {
  font-size: 14px;
  color: #768696;
  font-weight: 400;
}

.location {
  margin-bottom: 32px;
}

.stats {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #f3f6f9;
}

.item {
  display: flex;
  flex-direction: column;
  width: 84px;
  text-align: center;
  border: 2px solid #bfcddebf;
  box-shadow: 0px 1px 3px 0px hsla(213, 32%, 81%, 0.749);
  padding: 24px 0;
}

.label {
  margin-bottom: 8px;
  font-size: 12px;
  color: #768696;
}

.quantity {
  font-size: 14px;
  font-weight: 700;
  color: #1f3349;
}
