.transactionHistory {
  margin: 20px 0 20px 20px;
  width: 900px;
  border: 2px solid hsla(214, 56%, 91%, 0.749);
  box-shadow: 0px 1px 3px 0px hsla(213, 32%, 81%, 0.749);
  text-align: center;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid hsla(0, 4%, 69%, 0.749);
  padding: 20px 0;
}

th {
  text-transform: uppercase;
  background-color: #15cffd;
  color: #ffffff;
}

tr:nth-child(2n) {
  background-color: #bccccf;
}

td {
  text-transform: capitalize;
}
